<div class="bg-custom-green">
  <h2 class="text-14 text-white font-normal text-center py-3">{{ section.settings.title }}</h2>
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "tag": "section",
  "class": "announcement-bar",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Text",
      "default": "Free Shipping on Product Orders $99+"
    }
  ]
}
{% endschema %}
